.unique {
    border-color: rgb(1, 1, 1);
    border-style: solid dashed solid dashed;
    border-width: 1px 1px 1px 1px;
    display:flex;
}
.aside {
    border-color: rgb(1, 1, 1);
    border-style: solid dashed solid dashed;
    border-width: 0px 1px 0px 0px;
    padding-right: 5px;
    margin-right:  5px;
    width: 20%;
    display:flex;
    justify-content: center;
}
.text {
    display:flex;
    justify-content: center;
}